<!DOCTYPE html>
<html>
  <head>
    <title>Geogrames</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script>
      <% if logged_in? %>
        window.access_token = '<%= access_token %>';
        window.map_id = 'myobie.map-j6ywpujq'
      <% end %>
    </script>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
